@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap");
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}
/****************************************************************

ESTILOS HEADER

*****************************************************************/
.headerContenedor {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.mainContenedor__imagen{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form {
  margin-left: 87%;
}
.lupa{
    position: absolute;
    top: 6%;
    left: 83.6%;
    cursor: pointer;
}
.buscador{
    position: absolute;
    top: 7%;
    padding: 5px;
    border-radius: 5px;

}
nav {
  box-shadow: 2px 1px rgb(214, 138, 163);
}
#nav__ {
  margin-left: 55%;
}
.botones {
  text-decoration: none;
  margin-right: 1px;
  color: palevioletred;
  padding: 20px;
 }
.botones:hover{
    background: palevioletred;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
/****************************************************************

ESTILOS MAIN

*****************************************************************/
.imagenMain {
  width: 500px;
  border-radius: 10px;
}
.tituloPrincipal {
  font-size: 4.5rem;
  color: palevioletred;
  margin-left: 110px;
}
.textoMain{
    font-size:30px;
    width:50%;
    margin-top: 60px;
    margin-left: 50px;
}

/****************************************************************

ESTILOS FOOTER

*****************************************************************/

.footercContenedor {

 padding: 50px;
 margin-top:220px;
 border-top: palevioletred solid 1px;
 background-color: rgb(235, 152, 180);
 display: flex;
    flex-direction: row;
    justify-content: center;
}

.footercContenedor2{
  padding: 50px;
  margin-top:600px;
  border-top: palevioletred solid 1px;
  background-color: rgb(235, 152, 180);
  display: flex;
    flex-direction: row;
    justify-content: center;
}


/*Search*/
.containerr{
  position: relative;
}
.containerr .lupa{
  position: absolute;
  margin-left: 20px;
  margin-top: 13px;
  color: black;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
         
}
#search{
  width: 50px;
  height: 50px;
  color: black;
  border: none;
  font-size: 0.9em;
  float: left;
  padding-left: 80px;
  -webkit-transition: 0.6s ease-out;
          transition: 0.6s ease-out;
          background-color: rgba(248,249,250);
}

#search:focus, 
#search:active{
  outline:none;
  width: 300px;
  padding-right: 20px;
}
.containerr:hover #search{
  width: 300px;
  background-color: rgba(248,249,250);
  border-radius: 8px;
}
.containerr:hover .lupa{
  color: #0f0f0f;
}

.contaSearch{
  display: flex;
  justify-content: space-between;
}
.buscadorr{
  margin-right: 40px;
}


/************************************************************

MEDIA QUERYS

************************************************************/

@media (max-width: 600px) {
  .mainContenedor__imagen{
    display: flex;
    flex-direction: column-reverse;    
  } 
  .imagenMain {
    width: 400px;
    border-radius: 10px;
  }
  .textoMain{
    font-size:30px;
    min-width:85%;
    margin-top: 60px;
    margin-left: 50px;
}
.tituloPrincipal {
  font-size: 3rem;
  color: palevioletred;
  margin-left: 140px;
}
.contaSearch{
  display: flex;
}


  
}